*{
  padding: 10px;
}
.calculos {
    background-color: rgb(211, 0, 134);
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 5px;
    border: 2px outset red;
    padding: 15px 40px;
    text-align: center;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
  }
  h1 {
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 0, 0);

  }
  .centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .color{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    font-size: 100px;
    color: rgb(0, 183, 255);
    text-shadow: 5px 10px rgb(0, 0, 0, 0.25);
  }